body {
  margin: 0;

  font-size: 18px; 
  line-height: 1.5; 
  color: #333; 
  font-family: Arial, sans-serif;

}


h1 {
  margin: 50px 0px 10px 0px;
  font-size: 60px;
  text-align: center;

}

h2 {
  margin: 0px;
  padding: 0px 0px 30px 0px;
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
}

section {
  margin: 50px 0px 50px 0px;
  padding: 0px 50px 0px 50px;
}

section h2 {
  padding: 0px;
  text-align: left;
  border: none;
}

ul {
  margin: 10px
}